/*importing Google font*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 10px;
    box-sizing: border-box;
}

img
{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.invalid{
    color: #ed4956;
    font-size: 14px;
    line-height: 18px;
}

a
{
    text-decoration: none;
}

h1
{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

/*body background color*/
body
{
    background-color: #fafafa;
}

/*Wrapper is like a container of body*/
#wrapper
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}

.container
{
    width: 100%;
    max-width: 93.5rem;
    margin: 3rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper > .container
{
    display: flex;
    padding: 0 8rem;
}

/*smartphone image*/


/*form styling*/
.form-data
{
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
}

.form-data form
{
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}

/*logo again styling*/
.heading{
    margin: 22px auto 30px;
    background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");
    background-position: -98px 0;
    height: 51px;
    width: 177px;
    overflow: hidden;
}

/*form input styling*/
.form-data form input
{
    padding: .8rem;
    margin-bottom: .5rem;
    border: 2px solid #eee;
    border-radius: .4rem;
}

.form-btn
{
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: #0095f6;;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*OR font styling*/
.has-separator
{
    color: #999999;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
}

.has-separator::before,
.has-separator::after{
    content: '';
    position: absolute;
    background-color: #eee;
    width: 40%;
    height: 1.5px;
    top: 50%;
    transform: translateY(-50%);
}

.has-separator::before
{
    left: 0;
}

.has-separator::after
{
    right: 0;
}

/*FACEBOOK ligin text styling*/
.facebook-login
{
    font-size: 1.4rem;
    font-weight: bold;
    color: #385185;
    margin-bottom: 2.5rem;
}

.facebook-login
{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #385185;
    margin-bottom: 2.5rem;
}

.facebook-login i
{
    font-size: 2rem;
    margin-right: .7rem;
}

/*password reset styling*/
.password-reset
{
    color: #00376b;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    font-family: sans-serif;
}

/*signup text styling*/
.sign-up
{
    text-align: center;
    font-size: 1.4rem;
    color: #262626;
    padding: 2rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
}

.sign-up
{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #262626;
    padding: 2rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
}

.sign-up a
{
    color: #3897f0;
    font-weight: bold;
}

.phone{
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/redlands-dgs.appspot.com/o/Instagram%2Fphones.png?alt=media&token=603d8ff6-7b04-4876-8f07-a7a85ed127a6);
    background-position: 0 0;
    background-size: 454px 618px;
    -webkit-flex-basis: 454px;
    -ms-flex-preferred-size: 454px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

/*Play stor and App store image styling*/
.get-the-app
{
    font-size: 1.4rem;
    text-align: center;
}

.get-the-app .spanchik
{
    display: block;
    font-family: sans-serif;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 15px 20px;
    text-align: center;
}

.badge
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.badge img
{
    max-width: 14rem;
    cursor: pointer;
}

.badge img:first-child
{
    margin-right: 1rem;
}

/*Footer link styling*/
footer
{
    padding: 5rem 0;
}

footer .container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav ul
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    margin-top: 5px;
}



.footer-nav ul li
{
    margin-right: 1.6rem;
}

.ul-2{
    margin-bottom: 10px;
}

.footer-nav ul li a
{
    color: #262626;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    opacity: 0.7;
    flex-wrap: wrap;
}

.copyright-notice
{
    color: #262626;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin: 12px 0;
    opacity: 0.7;
}

.images{
    width: 240px;
    height: 427px;
}
.caruselBox{
    position: relative;
    top: 100px;
    left: 151px;
    width: 53%;
}

/*responsive styling*/
@media (max-width: 900px)
{
    .phone-app-demo{
        display: none;
    }

    .form-data
    {
        margin: 0 auto;
    }

    #wrapper > .container
    {
        padding: 0;
    }

    footer .container
    {
        padding: 0 2rem;
        justify-content: center;
    }

    .footer-nav ul
    {
        justify-content: center;
    }

    .footer-nav ul li
    {
        margin-bottom: 1rem;
    }
}

@media (max-width: 755px){
    .phone{
        display: none;
    }
}

@media (max-width: 450px)
{
    #wrapper
    {
        padding-top: 0;
    }
    .form-data form
    {
        background-color: transparent;
        border: none;
        padding: 0 2rem;
    }
    .facebook-login{
        margin-bottom: 1.5rem;
    }
    .sign-up
    {
        background-color: transparent;
        border: none;
        margin: 0;
    }
    footer
    {
        padding-bottom: 2rem;
    }
}